*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.log
*.class
app/build/
IMKit/build/
IMLib/build/
/.idea